@font-face {
    font-family: 'CursedTimerUlil';
    src: url('CursedTimerUlil-Aznm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1B244A;
}

.main-container {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
}

.container {
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}

.points {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    background-color: #080001;
    border-radius: 5px;
    height: 130px;
    width: 100%;
    font-family: 'CursedTimerUlil', sans-serif;
    color: #F94F6D;
    font-size: 90px;
    line-height: 127px;
}



.team-name {
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
}

.btn-container {
    margin-top: 50px;
}

.points-btn,
.btn {
    display: inline-block;
    color: #9AABD8;
    background-color: #1B244A;
    border: 2px solid #9AABD8;
    font-family: 'CursedTimerUlil', sans-serif;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    margin: 11px;
    font-size: 18px;
    cursor: pointer;
}

.time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
}

#time {
    text-align: center;
    margin: 0;
    padding: 15px;
    background-color: #080001;
    border-radius: 5px;
    font-family: 'CursedTimerUlil', sans-serif;
    color: #F94F6D;
    font-size: 90px;
    line-height: 127px;
}

.btn {
    width: 100%
}

.buttons {
    margin-top: 15px;
    background-color: #1B244A;
    display: flex;
    justify-content: center;
    align-items: center;
}